@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-foot .icon {
	color: white;
}

.media-content {
	overflow: hidden;
}